<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | List</title>
</head>
<body>
  <h1>Show me your artists</h1>
  <a href='/new'>Submit new Artist</a>
  <br>
  <a href='/albums'>Submit new Albums</a>
  <br>
  <table>
    <thead>
      <th>Artist</th>
      <th>Genre</th>
      <th>Bio</th>
    </thead>
    <tbody>
    <% artists.forEach(function (artist) { %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.genre %></td>
        <td><%= artist.bio %></td>
        <td>
          <form action="/delete/<%= artist._id %>" method="POST">
            <input type="submit" value="X">
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

</body>
